.player1 {
  margin: 50px;
  padding: 5px;
  float: left;
  text-align: center;
}

.player2 {
  padding: 5px;
  margin: 50px;
  float: right;
  text-align: center;
}

.app {
  margin: 50px auto;
  background-color: white;
  border-radius: 20px;
  width: 800px;
  height: 80vh;
  clear: both;
  text-align: center;
}

.startbuttonhide {
  visibility: hidden;
}

.startbutton {
  padding: 5px;
  font-size: 36px;
  background-color: aliceblue;
  border: 1px solid blue;
  border-radius: 5px;
  margin-top: 180px;
}

.roundsbutton {
  padding: 5px;
  font-size: 36px;
  background-color: aliceblue;
  border: 1px solid blue;
  border-radius: 5px;
  margin-top: 200px;
}

.rules {
  text-align: start;
  margin: 10px 50px;
}
